/* Lexicon controls */
.lexicon-controls {
	align-items: center;
	background-color: var(--color-background-primary);
	border-bottom: 1px solid var(--color-border-primary);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: space-between;
	margin-bottom: 4rem;
	padding-top: var(--layout-header-offset);
	padding-bottom: 1rem;
	position: sticky;
	top: var(--layout-header-height);
	z-index: 30;
}

.lexicon-controls::after {
	background: linear-gradient(to bottom, var(--color-background-primary) 0%, rgba(253, 249, 239, 0) 100%);
	content: "";
	height: 1rem;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 100%;
}

@media (min-width: 640px) {
	.lexicon-controls {
		flex-direction: row;
	}
}

.search-container {
	position: relative;
	width: 100%;
}

@media (min-width: 640px) {
	.search-container {
		width: 24rem;
	}
}

.sort-buttons {
	align-items: center;
	display: flex;
	gap: 2rem;
}

.category-select {
	appearance: auto;
	background-color: var(--color-form-input-background);
	border: none;
	color: var(--color-form-input-text);
	font-family: var(--font-sans-serif);
	font-size: var(--font-size-body-xs);
	font-weight: var(--font-weight-bold);
	letter-spacing: var(--letter-spacing-wide);
	padding: 0.625rem 0.75rem;
	text-transform: uppercase;
}
