.lexicon-entries {
	min-height: calc(100dvh - var(--layout-scroll-header-lexcion-controls-offset));
	scroll-margin-top: var(--layout-scroll-header-lexcion-controls-offset);
}

.lexicon-empty-state {
	border-top: 1px solid var(--color-border-primary);
	padding-top: 2rem;
}

.lexicon-section {
	position: relative;
}

.lexicon-section-title {
	color: var(--color-text-disabled);
}

.lexicon-section-title.is-category {
	color: var(--color-text-secondary);
}

@media (min-width: 768px) {
	.lexicon-section-title {
		height: fit-content;
		position: sticky;
		top: var(--layout-scroll-header-lexcion-controls-offset);
	}
}

.term-item {
	margin-bottom: 0;
	scroll-margin-top: var(--layout-scroll-header-lexcion-controls-offset);
}

.term-pronunciation,
.term-aliases {
	color: var(--color-text-secondary);
	margin-bottom: 0.5rem;
}

.term-description {
	color: var(--color-text-secondary);
}
