/* Lexicon sections */
.lexicon-section {
	position: relative;
}

.lexicon-section-title {
	color: var(--color-text-disabled);
}

.lexicon-section-title.is-category {
	color: var(--color-text-secondary);
}

@media (min-width: 768px) {
	.lexicon-section-title {
		height: fit-content;
		position: sticky;
		top: calc(var(--layout-scroll-offset) + 5rem); /* adjust for height of the sticky search controls */
	}
}

.term-item {
	margin-bottom: 0;
}

.term-pronunciation,
.term-aliases {
	color: var(--color-text-secondary);
	margin-bottom: 0.5rem;
}

.term-description {
	color: var(--color-text-secondary);
}
