.catalog-detail-grid {
	background: var(--color-palette-brown-700-alpha-10);
	border-top: 2px solid var(--color-border-accent);
	display: grid;
	gap: 1rem;
	padding: 1rem;

	@media (min-width: 768px) {
		gap: 2rem;
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
		padding: 2rem;
	}
}

.catalog-detail-block {
	border-bottom: 1px solid var(--color-border-accent);
	padding-bottom: 1rem;

	@media (min-width: 768px) {
		border-bottom: 0;
		padding-bottom: 0;

		&:first-child {
			border-right: 1px solid var(--color-border-primary);
		}
	}
}

.catalog-detail-block h4 {
	margin-bottom: 1rem;
}

.catalog-detail-list {
	display: grid;
	gap: 0.5rem;
	margin: 0;

	@media (min-width: 768px) {
		max-width: 90%;
	}
}

.catalog-detail-list-item {
	border-top: 1px solid var(--color-border-primary);
	display: grid;
	gap: 0.25rem;
	padding-top: 0.5rem;

	.is-horizontal & {
		align-items: center;
		border-top: 0;
		grid-template-columns: 1fr auto;
		padding-top: 0;

		/* Separate Char from mash bill */
		&:last-child {
			border-top: 1px solid var(--color-border-primary);
			margin-top: 1rem;
			padding-top: 0.5rem;
		}
	}
}

.catalog-detail-list dt {
	color: var(--color-text-primary);
	font-family: var(--font-sans-serif);
	font-size: var(--font-size-body-xs);
	font-weight: var(--font-weight-bold);
	letter-spacing: var(--letter-spacing-wide);
	text-transform: uppercase;

	.is-muted & {
		color: var(--color-text-muted);
	}
}

.catalog-detail-list dd {
	color: var(--color-text-accent);
	font-size: var(--font-size-body-sm);
	font-weight: var(--font-weight-semibold);
	margin: 0;

	.is-muted & {
		color: var(--color-text-muted);
	}
}

.catalog-tasting-block {
	background-color: var(--color-background-primary);
	border: 1px solid var(--color-border-primary);
	padding: 1.5rem;

	@media (min-width: 768px) {
		padding: 2rem;
	}
}

.catalog-tasting-notes {
	display: grid;
	gap: 1.5rem;
}

.catalog-tasting-notes h5 {
	border-bottom: 1px solid var(--color-border-primary);
	margin-bottom: 0.5rem;
	padding-bottom: 0.25rem;
}

.catalog-tasting-notes p {
	color: var(--color-text-secondary);
	margin: 0;
}

.catalog-edit-button {
	border-bottom: 2px solid var(--color-border-accent);
	margin-top: 1.5rem;
	padding: 0.25rem 0;
}
