/* Base styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: var(--layout-nav-offset);
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: var(--color-background-page);
}

:focus-visible {
	outline: 2px solid var(--color-border-focus-visible);
	outline-offset: 2px;
}
