/* Button Base Styles */
@layer base {
	button,
	.button,
	.button-primary {
		background-color: var(--color-button-primary-background);
		border: 2px solid var(--color-button-primary-border);
		color: var(--color-button-primary-text);
		cursor: pointer;
		font-family: var(--font-sans-serif);
		font-size: var(--font-size-body-xs);
		font-weight: var(--font-weight-bold);
		letter-spacing: var(--letter-spacing-wide);
		line-height: var(--line-height-normal);
		padding: 0.75rem 1rem;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.3s ease;

		&:hover {
			background-color: var(--color-button-primary-background-hover);
			border-color: var(--color-button-primary-border-hover);
			color: var(--color-button-primary-text-hover);
			text-decoration: none;
		}

		&.active {
			background-color: var(--color-button-primary-background-active);
			border-color: var(--color-button-primary-border-active);
			color: var(--color-button-primary-text-active);
		}
	}

	.button-secondary {
		background-color: var(--color-button-secondary-background);
		border-color: var(--color-button-secondary-border);
		color: var(--color-button-secondary-text);

		&:hover {
			background-color: var(--color-button-secondary-background-hover);
			border-color: var(--color-button-secondary-border-hover);
			color: var(--color-button-secondary-text-hover);
		}

		&.active {
			background-color: var(--color-button-secondary-background-active);
			border-color: var(--color-button-secondary-border-active);
			color: var(--color-button-secondary-text-active);
		}
	}

	.button-tertiary {
		background-color: var(--color-button-tertiary-background);
		border: 0;
		color: var(--color-button-tertiary-text);
		padding: 0.25rem;

		&:hover {
			background-color: var(--color-button-tertiary-background);
			border-color: var(--color-button-tertiary-border-hover);
			color: var(--color-button-tertiary-text-hover);
		}

		&.active {
			background-color: var(--color-button-tertiary-background);
			border-bottom: 2px solid var(--color-button-tertiary-border-active);
			color: var(--color-button-tertiary-text-active);
		}
	}
}
