/* Hero styles */
.hero {
	margin-bottom: 4rem;
}

.hero-heading {
	:last-child {
		margin-bottom: 0;
	}
}

.hero-title {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.hero-title-note {
	color: var(--color-text-accent);
}

.hero-meta {
	border-bottom: 1px solid var(--color-border-muted);
	display: flex;
	flex-direction: column;
	gap: var(--grid-gap);
	padding-bottom: 2rem;
}

@media (min-width: 768px) {
	.hero-meta {
		flex-direction: row;
	}
}

.meta-item p {
	color: var(--color-text-primary);

	&:last-child {
		margin-bottom: 0;
	}
}
