/* Accent theme */
.theme-accent {
	background-color: var(--color-theme-accent-background);
	color: var(--color-theme-accent-text);
}

.theme-accent :where(h1, h2, h3, h4, h5, h6, p, ul, ol, li, span) {
	color: inherit;
}

.theme-accent :where(.text-label) {
	color: var(--color-theme-accent-text-strong);
}

.theme-accent :where(strong, b) {
	color: var(--color-theme-accent-text-emphasis);
}
