/* Accent theme */
.theme-accent {
	background-color: var(--color-token-accent);
	color: var(--color-token-on-accent-muted);
}

.theme-accent :where(h1, h2, h3, h4, h5, h6, p, ul, ol, li, span) {
	color: inherit;
}

.theme-accent :where(.text-label) {
	color: var(--color-token-on-accent);
}

.theme-accent :where(strong, b) {
	color: var(--color-token-on-primary);
}
