/* Accent theme */
.theme-accent {
	--color-background-primary: var(--color-palette-brown-400);
	--color-text-primary: var(--color-palette-cream-50-alpha-80);
	--color-text-secondary: var(--color-palette-white);
	background-color: var(--color-background-primary);
	color: var(--color-text-primary);
}

.theme-accent :where(strong, b) {
	color: var(--color-text-secondary);
}
