/* Scrollbar styles */
.glossary-scroll::-webkit-scrollbar {
	width: 4px;
}

.glossary-scroll::-webkit-scrollbar-track {
	background: var(--color-token-transparent);
}

.glossary-scroll::-webkit-scrollbar-thumb {
	background: var(--color-token-outline-strong);
}
