/* Regions sidebar */
.region-sidebar {
	border-top: 2px solid var(--color-border-accent);
	display: flex;
	flex-direction: column-reverse;
	gap: var(--grid-gap);
	padding-top: var(--grid-gap);

	@media (min-width: 768px) {
		border-right: 2px solid var(--color-border-accent);
		border-top: 0;
		flex-direction: column;
		padding-top: 0;
	}
}

.region-sidebar-block {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;

	.list-reset {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	:last-child {
		margin-bottom: 0;
	}
}

.sidebar-title-icon {
	height: 1.5em;
	width: 1.5em;
}

.sidebar-list {
	border-bottom: 1px solid var(--color-border-primary);
	border-top: 1px solid var(--color-border-primary);
	list-style: none;
	margin: 0 0 1rem 0;
	padding: 1rem 0;
}

.region-bottle {
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-height: 35dvh;
	max-width: 70%;
	mix-blend-mode: multiply;
	object-fit: contain;
	transition: transform 0.5s ease;
	width: 100%;

	@media (min-width: 768px) {
		max-height: 100%;
	}
}
